@charset "UTF-8";
body {
    color: gray;
}

.container{
    width: 100%;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
}


li {
    list-style: none;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-link{
    margin-left: 100px;
/*color: aquamarine;*/
}


.nav-item{
    margin-right: 30px
}

h2 {
    font-family: "Arial Black";
    color: gray;
    /*color: black;*/
    font-size: 50px;
}

p{
    color: gray;
}

.wrap{
    position: center;
}

.wrapper{
    position: relative;
}
footer{
    width: 100%;
    /*text-align: center;*/
    padding: 30px 0;
    background: whitesmoke;
    /*position: absolute;*/
    bottom: 0;
}
