@charset "UTF-8";
body {
    color: gray;
    text-align: left;
}


header {
    　height: 80px;
    　width: 100%;
    　position: fixed;
    　top: 0;
}

.nav-link{
    /*margin-left: 100px;*/
}


.nav-item{
    /*margin-right: 30px*/
}

h1 {
    font-family: "Arial Black";
    font-size: 80px;
    color: gray;
    /*text-align: center;*/
}


h2 {
    /*color: gray;*/
    color: gray;
    font-size: 70px;
}

p {
    /*position: center;*/
    text-align: left;
    color: gray;
    font-size: 20px;
}

h3{
    font-size: 70px;
}

.wrap p{
    align-content: center;
}

.wrap{
    margin-top: 30px;
}


fotter{
    position: center;
}