@charset "UTF-8";
body {
  color: gray;
  text-align: left;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-link {
  margin-left: 100px;
  /*color: aquamarine;*/
}

.nav-item {
  margin-right: 30px;
}

h1 {
  font-family: "Arial Black";
  font-size: 80px;
}

h2 {
  color: gray;
  font-size: 70px;
}

p {
  text-align: left;
  color: gray;
  font-size: 20px;
  margin-top: 50px;
}

h3 {
  font-size: 70px;
}

.wrap koten {
  text-align: center;
  position: center;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  height: 80px;
  width: 100%;
  position: fixed;
  background: whitesmoke;
}

img {
  margin: 20px;
}
