@charset "UTF-8";
body {
    color: gray;
    text-align: left;
}

/*.container {*/
/*    width: 100%;*/
/*    max-width: 1600px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

li {
    list-style: none;
}

.nav-link{
    margin-left: 100px;
/*color: aquamarine;*/
}


.nav-item{
    margin-right: 30px
}




h1 {
    font-size: 80px;
    text-align: center;
}




.btn {
    position: relative;
    width: 600px;
    height: 580px;
    margin: 0 auto;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}
.btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.btn:hover img:nth-of-type(2) {
    opacity: 0;
}

h2 {
    font-family: "Arial Black";
    color: gray;
    /*color: black;*/
    font-size: 50px;
}

.wrap {
    display: flex;
    flex-flow: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 390px;

}

p{
    color: gray;
}
.timeline {
    list-style: decimal inside;
    margin-left: 300px;



}

.timeline-item {
    margin-bottom: 0;
    margin-left: -1000px;
    height: 50px;
    color: gray;

}

.timeline-title {

    font-size: 1.375rem;
    display: inline-block;
}

.timeline-content {

    margin-bottom: 0;
}

@media (min-width: 600px) {
    .timeline-item {
        display: flex;
        margin-bottom: 0;
    }

    .timeline-title {
        width: 50%;
        padding: 1rem 2.5rem 2rem 0;
        text-align: right;
    }

    .timeline-content {
        border-left: 3px solid #f8f6f2;
        width: 50%;
        padding: 1rem 2.5rem 2rem;
    }
}

h3 {
    font-size: 70px;
}
footer {
    height: 80px;
    width: 100%;
    background: whitesmoke;
    position: fixed;
    bottom: 0;
}
.footer-text {
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}